<h1> Snap it </h1>

<div class="note_as_note">
  <% @notes.each do |n| %>
    <div id="note_<%= n.id%>" class="draggable">
      <div class="ui-widget-content resizable">
        <%= form_for(n, :remote => true, :html => {:style => "display:none;"}) do |f| %>
          <%= f.text_area :content %>
          <%= f.hidden_field :id %>
          <%= f.submit %>
        <% end %>
        <div class="formatted_content">
        <%= red(n.content) %>
        </div>
      </div>
    </div>
  <% end %>

</div>

