<%= javascript_include_tag 'game/jquery.hotkeys' %>
<%= javascript_include_tag 'game/key_status' %>
<%= javascript_include_tag 'util' %>
<%= javascript_include_tag 'game/sound' %>
<%= javascript_include_tag 'game/sprite' %>
<%= javascript_include_tag 'learnhtml5' %>

<div class="game_buttons" style="clear:both;">
<%= link_to "Pause", "#", :id => 'pause'%>
<%= link_to "Play", "#", :id => 'play'%>
</div>
