<!DOCTYPE html>
<html>
<head>
  <title>Ashleigh</title>
  <script type="text/javascript" src="/MathJax/MathJax.js"></script>
  <%= javascript_include_tag "jquery-1.4.4.min", "jquery-ui-1.8.7.custom.min", "jquery.rails.js" %>
  <%= javascript_include_tag 'post' %>
  <%= javascript_include_tag 'flot/jquery.flot' %>
  <%= javascript_include_tag 'prettify/prettify' %>

  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'home' %>
  <%= stylesheet_link_tag 'prettify' %>
  <%= stylesheet_link_tag 'jquery-ui-1.8.7.custom' %>
 
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="wrapper">
    <div class="modal">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <%= render :partial => "/home/header" %>

    <div class="content full_width">
      <%= yield %>
    </div>
  </div>
</body>
</html>
